@use '../../../helpers' as *;

.basic-services {
  background: var(--color-blue);

  &__title {
    margin-bottom: fluid(48, 40);
  }

  &__slider {
    padding-top: rem(60) !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;

    @include tablet {
      padding-top: rem(40) !important;
    }
  }

  &__card {
    background: var(--color-light);
    border: var(--border);
    padding: rem(96) rem(16) rem(24);
    display: flex !important;
    flex-direction: column;
    gap: fluid(20, 16);
    border-radius: var(--radius-big);

    @include mobile {
      padding: rem(58) rem(16) rem(16);
    }

    .icon {
      @include square(120);

      top: rem(-50);

      @include tablet {
        @include square(80);

        top: rem(-40);
      }

      img {
        width: 70%;
        height: 60%;
        object-fit: contain;
      }
    }
  }

  &__name {
    @include fluid-text(22, 18);

    font-family: var(--font-family-base);
    flex-grow: 1;
  }
}