@use '../../helpers' as *;

.advertising {

  h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: var(--font-family-base);
  }

  &__top {
    margin-bottom: fluid(48, 16);
    display: grid;
    grid-template-columns: 578fr 602fr;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__left, &__right {
    box-shadow: var(--shadow);
  }

  &__left {
    background: var(--color-beige);
    border-radius: var(--radius-big);
    padding: fluid(32, 16);
    gap: fluid(40, 17);

    @include mobile {
      gap: rem(17);
    }
  }

  &__img-container {
    flex: 0 0 calc(50% - #{rem(20)});
    aspect-ratio: 237/331;
    border-radius: var(--radius-big);

    @include mobile {
      flex: 0 0 calc(50% - #{rem(8.5)});
    }
  }

  &__right {
    gap: rem(12.5);
    background: var(--color-blue);
    padding: fluid(50, 24) fluid(32, 16);
    border-radius: 0 var(--radius-big) var(--radius-big) 0;

    @include mobile {
      position: relative;
      z-index: -1;
      border-radius: 0 0 var(--radius-big) var(--radius-big);
      top: rem(-8);
    }

    &-title {
      margin-bottom: fluid(32, 16);

      @include mobile {
        text-align: center;
      }
    }
  }

  &__minuses {
    gap: rem(16);
  }

  &__minus {
    position: relative;
    padding-left: fluid(36, 24);
    line-height: 1.5;

    &::before {
      @include square(16);
      @include flex-center();

      content: '-';
      position: absolute;
      top: rem(5);
      left: 0;
      background: #A82323;
      color: var(--color-light);
      font-weight: 700;
      border-radius: 50%;
      line-height: 1;
      padding-left: 1px;
    }
  }

  &__subtitle {
    @include fluid-text(26, 16);
  }

  &__cards {
    gap: fluid(48, 32);
  }

  &__card {
    display: grid;
    grid-template-columns: 580fr 509fr;
    gap: fluid(48, 16);
    padding-block: rem(24);

    @include mobile {
      grid-template-columns: 1fr;
    }

    &-left {
      border: 2px solid var(--color-blue-dark);
      border-radius: var(--radius-big);
      padding: rem(24) fluid(32, 16);
    }

    &-right {
      gap: fluid(10, 8);
    }

    &-img {
      width: rem(84);
      margin-bottom: rem(8);

      @include mobile {
        height: rem(24);
      }
    }

    &-name {
      line-height: 1.5;
    }

    &-price {
      @include fluid-text(73, 44);

      line-height: 1;
    }

    &-about {
      @include fluid-text(32, 16);
    }

    &-price-on {
      @include fluid-text(26, 16);
    }
  }

  &__list {
    list-style-type: disc;
    padding-left: rem(30);

    @include mobile {

      &:not(:last-child) {
        margin-bottom: rem(24);
      }
    }

    li::marker {
      font-size: rem(16);
    }
  }

  &__link {

    @include mobile {
      margin-inline: auto;
    }
  }

  &__block {
    flex: 0 0 calc(50% - #{rem(20)});
    border-radius: var(--radius-big);
    background: var(--color-light);
    font-family: var(--font-family-message);

    @include mobile {
      flex: 0 0 calc(50% - #{rem(8.5)});
    }

    &-tag {
      color: var(--color-light);
      text-transform: uppercase;
      background: rgba(0,0,0,.35);
      border-radius: var(--radius-regular);
      padding: rem(4) rem(7);
      font-size: rem(11);
      line-height: 1;
      top: rem(15);
      left: rem(15);
      z-index: 1;

      @include mobile {
        top: rem(10);
        left: rem(10);
        font-size: rem(9);
      }
    }

    &-img-container {
      width: 100%;
    }

    &:first-child {
      display: flex;
      flex-direction: column;

      .advertising__block-img-container {
        aspect-ratio: 286/236;
      }
      .advertising__block-info {
        @include flex-center();

        flex: 1 0 auto;
        flex-direction: column;
      }
    }
    &:nth-child(2) {

      .advertising__block-img-container {
        aspect-ratio: 1/0.93;
        position: relative;
      }
      .advertising__block-info {
        bottom: 0;
      }
    }

    &-content, &-info {
      padding-inline: rem(15);

      @include mobile {
        padding-inline: rem(10);
      }
    }

    &-content {
      padding-block: rem(15) rem(10);

      @include mobile {
        padding-block: rem(10) rem(5);
      }
    }

    &-title, &-price {
      color: #000000;
    }

    &-title, &-about {
      @include fluid-text(15, 10);
    }

    &-title {
      font-weight: 600;
    }

    &-price {
      @include fluid-text(20, 12);

      font-weight: 700;
      line-height: 1.6;
    }

    &-about {
      color: #a6a6a6;
      line-height: 1.2;
    }

    &-info {
      @include fluid-text(14, 7);

      width: 100%;
      padding-block: rem(8);
      text-transform: uppercase;
      color: var(--color-light);
      font-weight: 600;
      background: rgba(0,0,0,.25);
      line-height: 1.1;

      @include mobile {
        padding-block: rem(4);
      }
    }
  }
}