@use '../../helpers' as *;

.check-list {
  --bg: '';

  &::before, &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
  }

  &::before {
    height: 100%;
    width: 100%;
    background:
            linear-gradient(90deg,
                    #1D5191 0%,
                    rgba(65, 117, 181, 0.57) 60%,
                    rgba(217, 217, 217, 0) 86%
            ),
            linear-gradient(90deg,
                    #1D5191 0%,
                    #1D5191 45%,
                    rgba(29, 81, 145, 0) 65%
            )
  }
  &::after {
    width: 54%;
    height: calc(100% + #{rem(14)});
    background: var(--bg) right -14px / cover no-repeat;
    right: 0;
    z-index: -2;

    @include mobile {
      width: 60%;
      background: var(--bg) 10% -14px / cover no-repeat;
    }
  }

  &__content {
    gap: fluid(64, 24);

    @include tablet-above {
      padding-left: rem(104);
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__title {
    @include fluid-text(32, 16);

    color: var(--color-light);
    flex: 0 0 47%;
  }
}