@use '../../helpers' as *;

.consultation {

  &__content {
    display: grid;
    grid-template-columns: 780fr 380fr;
    gap: rem(20);

    @include tablet {
      grid-template-columns: 1fr;
      gap: rem(16);
    }
  }

  &__line {
    width: 70.68%;
    aspect-ratio: 834/313;
    border: 1px solid var(--color-dark);
    border-radius: var(--radius-big);
    left: rem(50);
    top: rem(55);
    z-index: -1;
  }

  &__left {
    gap: rem(92);

    @include tablet-above {
      margin-top: rem(16);
    }

    @include tablet {
      gap: rem(32);
    }
  }

  &__title {
    @include fluid-text(30, 22);

    font-family: var(--font-family-accent);
    background: var(--color-light);
    border-radius: var(--radius-big);
    padding: rem(24) rem(32);
    box-shadow: var(--shadow);
    width: fit-content;
    margin-inline: auto rem(26);

    @include tablet {
      margin-inline: auto;
    }

    @include mobile {
      width: 100%;
      padding: rem(16);
    }
  }

  &__img {
    border-radius: var(--radius-big);
    object-fit: cover;
    max-height: rem(252);
    object-position: top center;

    &.is-on-line {

      @include tablet-above {
        position: absolute;
        width: 95%;
        right: 0;
        bottom: rem(92);
      }
    }
  }

  &__form {

    @include tablet {
      margin-inline: auto;
    }
  }
}