@use '../../helpers' as *;

.other-services {

  &__item, &__img-container, &__name, &__price {
    margin-bottom: fluid(16, 8);
  }

  &__item {
    background: var(--color-beige);
    border-radius: var(--radius-big);
    padding: fluid(16, 8);
    display: flex !important;
  }

  &__img-container {
    aspect-ratio: 348/156;
    border-radius: var(--radius-big);
  }

  &__name {
    @include fluid-text(22, 16);

    line-height: 1.45;
  }

  &__info, &__top {
    flex-grow: 1;
  }

  &__info {
    gap: fluid(16, 8);
  }

  &__price {
    gap: rem(8);

    h3 {
      @include fluid-text(26, 16);

      font-family: var(--font-family-base);
      line-height: 1.15;
    }

    p {
      @include fluid-text(14, 12);

      text-decoration: line-through;

      @include mobile-above {
        line-height: 1.62;
      }
    }
  }
}