@use '../../helpers' as *;

.prices {
  background: var(--color-blue);

  &__title {
    margin-bottom: fluid(72, 24);
  }

  &__list {
    gap: fluid(45, 12);
    margin-bottom: fluid(72, 24);
  }

  &__item {
    gap: rem(8);

    @include tablet {
      flex-direction: column;
      align-items: center !important;
      background: var(--color-light);
      border-radius: var(--radius-big);
      padding: rem(16) rem(24);
    }
  }

  &__name, &__price * {
    font-family: var(--font-family-base);
  }

  &__name-wrapper {
    @include tablet-above {
      flex: 1;
      display: flex;
      align-items: flex-end; // Прижимаем цену и точки к низу последней строки

      background-image: radial-gradient(circle, var(--color-dark) 1px, transparent 1px);
      background-position: bottom 6px left;
      background-size: 6px 1px;
      background-repeat: repeat-x;
    }
  }

  &__name-inner {

    @include tablet-above {
      max-width: rem(750);
      background: transparent;
    }
  }

  &__name, &__about {

    @include tablet-above {
      display: inline;
      background: var(--color-blue);
      padding-right: rem(8);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  &__name {
    @include fluid-text(26, 16);
  }

  &__about {
    @include fluid-text(17, 14);

    margin-top: rem(9);
  }

  &__price {
    gap: rem(5);
    flex-shrink: 0;

    @include mobile-above {

      &:not(:last-child) {
        margin-right: rem(8);
      }
    }
  }

  &__link {
    padding-inline: rem(24);

    @include tablet {
      padding-inline: rem(10);
    }
  }

  &__btn {
    padding-inline: rem(15);
    min-width: rem(250);
  }
}