@use '../../helpers' as *;

.principles-operation {
  background: var(--color-blue);

  &__list {
    --row-gap: #{rem(36)};
    --column-gap: #{rem(20)};

    &.row-5 {
      grid-template-columns: repeat(5, 1fr);

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mobile {
        grid-template-columns: 1fr;

        .principles-operation__name {
            height: auto !important;
        }
      }

      .principles-operation__text-block {
        width: 100%;
      }
      .principles-operation__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__item {
    gap: fluid(16, 8);
    background: #FCFCFC;
    border: var(--border);
    border-radius: var(--radius-big);
    position: relative;
    padding: rem(40) rem(15) rem(20);

    @include mobile-above {
      text-align: center;
      align-items: center;
    }

    @include mobile {
      flex-direction: row !important;
      padding: rem(30) rem(10) rem(20);
    }
  }

  &__icon {
    @include square(50);
    @include abs-x;

    border-radius: var(--radius-regular);
    background: var(--color-light);
    top: rem(-25);
    border: var(--border);

    @include mobile {
      @include square(40);

      top: rem(-20);
    }

    img {
      @include square(36);

      @include mobile {
        @include square(28);
      }
    }
  }

  &__name {
    @include fluid-text(18, 14);

    margin-bottom: fluid(16, 8);
    display: inline-block;

    .awards__stars svg {
      @include square(24);
    }
  }
}