@use '../../helpers' as *;

.prices {

  &.is-blue {
    background: var(--color-blue);

    .prices__name, .prices__about {
      background: var(--color-blue);
    }
  }

  &:not(.is-blue) {

    .prices__name, .prices__about {
      background: var(--color-light);
    }
  }

  &__title {
    margin-bottom: fluid(72, 24);
  }

  &__list {
    gap: fluid(45, 12);
  }

  &__item {
    gap: rem(8);

    @include tablet {
      flex-direction: column;
      align-items: center !important;
      border-radius: var(--radius-big);
      padding: rem(16) rem(24);
      gap: rem(16);
      text-align: center;
    }
  }

  &__name, &__price * {
    font-family: var(--font-family-base);
  }

  &__name-wrapper {
    @include tablet-above {
      flex: 1;
      display: flex;
      align-items: flex-end; // Прижимаем цену и точки к низу последней строки

      background-image: radial-gradient(circle, var(--color-dark) 1px, transparent 1px);
      background-position: bottom 6px left;
      background-size: 6px 1px;
      background-repeat: repeat-x;
    }
  }

  &__name-inner {

    @include tablet-above {
      max-width: rem(770);
      background: transparent;
    }

    @include tablet {

      br {
        display: none;
      }
    }
  }

  &__name, &__about {

    @include tablet-above {
      display: inline;
      padding-right: rem(8);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
  }

  &__name {
    @include fluid-text(26, 16);

    &.is-accent {
      color: var(--color-blue-dark);
    }
  }

  &__about {
    @include fluid-text(17, 14);

    margin-top: rem(9);
  }

  &__price {
    gap: rem(5);
    flex-shrink: 0;

    @include mobile-above {

      &:not(:last-child) {
        margin-right: rem(8);
      }
    }

    h3:not(.prices__discount) {
      @include fluid-text(28, 16);
    }
  }

  &__link {
    padding-inline: rem(24);

    @include tablet {
      padding-inline: rem(10);
    }
  }

  &__btn {
    margin: fluid(72, 24) auto 0;
    padding-inline: rem(15);
    min-width: rem(250);
  }

  &__discount {
    text-decoration: line-through;
    margin-right: rem(3);
  }
}