@use '../../helpers' as *;

.prices {
  background: var(--color-blue);
  border-block: var(--border-alt);

  &__title {
    margin-bottom: fluid(72, 24);
  }

  &__list {
    gap: fluid(45, 12);
    margin-bottom: fluid(72, 24);
  }

  &__item {
    gap: rem(8);

    @include tablet {
      flex-direction: column;
      align-items: center !important;
      background: var(--color-light);
      border-radius: var(--radius-big);
      padding: rem(16) rem(24);
    }
  }

  &__name, &__price * {
    font-family: var(--font-family-base);
  }

  &__name-wrapper {

    @include tablet-above {
      flex: 1;
      padding-right: 26%;
      background-image: radial-gradient(circle, var(--color-dark) 1px, transparent 1px);
      background-position: bottom 6px left;
      background-size: 6px 1px;
      background-repeat: repeat-x;
    }

    @include tablet {
      text-align: center;
    }
  }

  &__name {

    @include tablet-above {
      display: inline;
      background: var(--color-blue);
      padding-right: rem(8);
    }
  }

  &__price {
    gap: rem(5);
    flex-shrink: 0;

    @include mobile-above {

      &:not(:last-child) {
        margin-right: rem(8);
      }
    }
  }

  &__link {
    padding-inline: rem(24);

    @include tablet {
      padding-inline: rem(10);
    }
  }

  &__btn {
    padding-inline: rem(15);
    min-width: rem(250);
  }
}