@use '../../helpers' as *;

.proud-reviews {

  &__slider {
    padding: rem(28) rem(1) rem(1) 0 !important;

    @include mobile {
      padding-top: rem(16) !important;
    }
  }

  &__card {
    border: var(--border);
    border-radius: var(--radius-big);
    padding: rem(56) rem(76) rem(24);
    text-align: center;
    display: flex !important;
    flex-direction: column;

    @include mobile {
      padding: rem(24) rem(26) rem(16);
    }

    &::before {
      @include abs-x;
      @include square(64);

      content: '';
      top: rem(-28);
      border: var(--border);
      border-radius: var(--radius-big);
      background: var(--color-light) url("/icons/index/quote.svg") center/24px no-repeat;

      @include mobile {
        @include square(32);

        top: rem(-16);
        background-size: 12px;
      }
    }
  }

  &__img-container, &__name, &__rating, &__place, &__counter {
    margin-bottom: rem(8);
  }

  &__img-container {
    height: rem(54);
  }

  &__info {
    flex-grow: 1;
  }

  &__name {
    flex-grow: 1;
  }

  &__rating, &__place, &__link, &__counter {
    @include fluid-text(12, 10);
  }

  &__rating {
    gap: rem(10);
  }

  &__stars {
    color: var(--color-accent);

    svg {
      @include square(24);

      @include mobile {
        @include square(16);
      }
    }
  }

  &__link {

    @include tablet {
      @include full-link;
    }
  }
}