@use '../../helpers' as *;

.questions {

  &__list {
    gap: rem(10);
    margin-bottom: fluid(30, 20);
  }

  &__details {
    &[open] {
      .questions__header {
        background-color: var(--color-blue-dark);
        color: var(--color-light);
        border: none;

        .questions__icon {
          color: var(--color-light);

          &::after {
            opacity: 0;
            transform: translateX(-50%) scaleY(0);
          }
        }
      }

      .questions__content {
        display: flex;
      }
    }
  }

  &__header {
    position: relative;
    padding: fluid(20, 15) fluid(60, 40) fluid(20, 15) fluid(30, 15);
    user-select: none;
    transition:
            background-color var(--transition-duration),
            color var(--transition-duration);
    border: var(--border-alt);
    border-left: rem(2) solid var(--color-blue-dark);

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    @include fluid-text(18, 16);
  }

  &__icon {
    @include abs-y;
    @include square(16);

    right: fluid(30, 20);
    flex-shrink: 0;
    color: var(--color-blue-dark);

    @include mobile {
      @include square(12);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
      transition: transform 0.2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
      transition: opacity 0.2s ease, transform 0.2s ease;
    }
  }

  &__content {
    display: none;
    padding: fluid(30, 15);
    border: var(--border-alt);
    border-top: none;
    gap: rem(10);
  }

  &__list-numbered {
    padding-left: rem(15);
    display: flex;
    flex-direction: column;
    gap: rem(8);
    list-style-type: none;
    counter-reset: num;

    li {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: rem(8);

      &::before {
        font-weight: 500;
        counter-increment: num;
        content: counter(num) ".";
        color: var(--color-blue-dark);
      }
    }
  }

  &__btn {
    padding-inline: rem(40);
  }
}