@use '../../helpers' as *;

.team-dentists {
  background: var(--color-blue);

  &__subtitle, &__slider {
    margin-bottom: fluid(48, 29);
  }

  &__title {
    margin-bottom: fluid(48, 16);
  }

  &__subtitle {
    line-height: 0.71;
  }

  &__slider {
    padding-right: 1px !important;
  }

  &__card {
    border: var(--border);
    border-radius: var(--radius-big);
    padding: rem(8) rem(16) rem(16);
    background: var(--color-light);
    display: flex !important;
    flex-direction: column;
  }

  &__img-container {
    aspect-ratio: 248/220;
    margin-bottom: rem(16);

    img {
      height: 100%;
      width: auto;
    }
  }

  &__info {
    gap: rem(37);
    flex-grow: 1;
  }

  &__text-block {
    flex-grow: 1;
  }

  &__name {
    font-size: rem(14);
    color: var(--color-blue-dark);
    margin-bottom: rem(10);
  }

  &__experience, &__job {
    font-size: rem(12);
  }

  &__experience {
    margin-bottom: rem(16);
  }

  &__link {

    @include tablet {
      @include full-link;
    }
  }

  &__more {
    padding-inline: rem(33);
    min-width: rem(250);
  }
}