@use '../../helpers' as *;

.with-love {

  &__title, &__subtitle {
    max-width: 80%;
    margin-inline: auto;
  }

  &__subtitle {
    margin-bottom: fluid(48, 16);
  }

  &__list {
    line-height: 1.77;
    gap: fluid(32, 10);
    margin-top: rem(44);

    @include mobile-above {
      max-width: 55%;
    }

    @include mobile {
      margin-top: 0;
    }
  }

  &__item {
    @include fluid-text(18, 14);

    padding-left: fluid(52, 32);
    position: relative;

    &::before {
      @include square(32);

      content: '';
      position: absolute;
      background: url("/icons/with-love/before-icon.svg") center/contain no-repeat;
      left: 0;
      top: 0;

      @include mobile {
        @include square(22);
      }
    }
  }

  &__form {

    @include mobile {
      margin-inline: auto;
    }
  }

  &-content {

    &__content {
      gap: fluid(30, 20);

      @include mobile {
        flex-direction: column;
      }
    }
  }

  &-quote {

    &__title {

      @include mobile-above {
        padding-top: rem(18);
        padding-bottom: rem(11);
      }
    }

    &__subtitle {

      &:last-child {
        @include mobile-above {
          padding-bottom: rem(14);
        }
      }
    }
  }

  &-pluses {

    &__header {
      background: var(--color-blue);
      padding-block: fluid(37, 24);
      margin-bottom: fluid(72, 24);

      &-content {
        gap: fluid(98, 17);

        @include laptop-s-above {
          padding-inline: rem(68);
        }

        @include mobile {
          flex-direction: column;
        }
      }

      h1, h3 {
        font-family: var(--font-family-base);
        text-align: center;
        line-height: 1.38;

        &:not(:last-child) {
          margin-bottom: rem(12);
        }
      }

      h3 {
        @include fluid-text(24, 16);
      }
    }

    &__img-container {
      flex: 0 0 59%;
      position: relative;
      z-index: 1;

      &::before {
        @include abs-x;

        content: '';
        bottom: 0;
        width: calc(100% - #{rem(24)});
        aspect-ratio: 590/251;
        z-index: -1;
        background: url("/images/with-love-bg.png") center/contain no-repeat;
      }
    }

    &__right {
      max-width: rem(331);

      &-title {
        position: relative;

        &::before {
          @include square(30);

          content: '';
          position: absolute;
          bottom: rem(-23);
          right: 100%;
          background: url("/icons/plus.svg") center/contain no-repeat;

          @include mobile {
            @include square(23);

            bottom: rem(-15);
          }
        }
      }

      &-about {
        max-width: rem(279);
        margin-inline: auto;
      }

      &-price {
        @include fluid-text(59, 46);
      }
    }

    &__bottom {
      gap: rem(24);

      @include mobile {
        flex-direction: column;
      }
    }

    &__list {
      @include fluid-text(18, 14);

      display: flex;
      flex-direction: column;
      gap: fluid(32, 16);
      line-height: 1.77;

      @include mobile-above {
        flex: 0 0 53%;
      }
    }

    &__item {
      padding-left: rem(52);
      position: relative;

      @include mobile {
        padding-left: rem(40);
      }

      &::before {
        @include square(27);

        content: '';
        position: absolute;
        top: rem(5);
        left: 0;
        border-radius: 50%;
        background: url("/icons/plus-white.svg") center/14px no-repeat, var(--color-blue-dark);
      }
    }
  }
}