
div.burger-menu.position-fixed.visible-tablet.w-100.z-100
    div.burger-menu__inner.container
        button(type="button" title="Закрыть меню" aria-label="Закрыть меню").burger-menu__close.hover-color-accent.position-absolute
            include ../../icons/header/cross

        ul.burger-menu__list
            each link in headerMenuLinks
                li.burger-menu__item.accordion
                    div.accordion__header.burger-menu__header.flex.flex-align-center
                        div.burger-menu__top.flex.flex-align-center
                            div.burger-menu__img-container.img-container
                                img(src=link.img alt=link.title loading="lazy")

                            a(href=link.href).burger-menu__link.accordion__control.text-upper.text-w500= link.title

                        button(type="button").accordion__toggle
                            include ../../icons/header/header-menu-arrow

                    div.accordion__hidden
                        div.accordion__hidden-wrapper
                            ul.burger-menu__links
                                each sub in link.submenu
                                    li.burger-menu__links-item
                                        a.burger-menu__links-link.w-100.text-w500.line-link(href="#")= sub