
div.header__top
    div.header__top_inner.container.flex.flex-justify-between
        button(type="button").burger-menu__open.header__icon.visible-tablet
            include ../../icons/header/burger-menu


        a(href="#").header__logo
            img(src="/icons/logo.svg" alt="Стоматология доктора Лившиц" width="295" height="46")

        ul.header__info.flex.flex-align-center
            li.header__info-item.flex.flex-align-center.hidden-tablet
                div.header__icon
                    include ../../icons/header/map
                div.header__info-right.flex.flex-column
                    p.header__info-title.text-w500 СПб, м. Чёрная речка
                    p.header__info-text ул. Торжковская д.13, к.1
            li.header__info-item.flex.flex-align-center.hidden-tablet
                div.header__icon
                    include ../../icons/header/clock
                div.header__info-right.flex.flex-column
                    p.header__info-title.text-w500 Часы работы:
                    p.header__info-text.text-nowrap ПН-ВС 09:00–21:00
            li.header__info-item.flex.flex-align-center
                a(href="tel:+78124051001").header__icon.header__icon--link
                    include ../../icons/header/phone
                div.header__info-right.flex.flex-column.hidden-tablet
                    a(href="tel:+78124051001").header__info-title.text-w500.text-nowrap +7 812 405-10-01
                    a(href="tel:+79110030101").header__info-title.text-w500.text-nowrap +7 911 003-01-01