
div.header__bottom.visible-tablet
    div.header__bottom_inner.container.text-center
        div.header__bottom-text-block
            p.header__bottom-title.text-w500 СПб, м. Чёрная речка
            p.header__bottom-adress ул. Торжковская д.13, к.1

        div.header__bottom-btn-bar.flex.flex-justify-center
            a(href="#").header__bottom-link.is-dark.text-upper.text-w500 Услуги
            a(href="#").header__bottom-link.is-dark.text-upper.text-w500 Цены
            a(href="#").header__bottom-link.text-upper.text-w500.text-center
                | Записаться
                br
                | на консультацию