include header-nav

mixin header(activeIndex)
    header.header
        include header-top

        +header-nav(activeIndex)

        include header-menu

        include header-bottom

        include burger-menu
