mixin header-nav(activeIndex)
    nav.header__menu.hidden-tablet
        div.header__menu_inner.container.flex.flex-align-center.flex-justify-center
            ul.header__list.flex.flex-align-center
                each link, index in links
                    li.header__item(
                        class=[
                            link.hasSubmenu ? 'header__item--has-submenu' : '',
                            index === activeIndex ? 'is-here' : '',
                        ]
                    ).position-relative
                        if link.hasSubmenu
                            button(type="button" class=link.hasSubmenu ? 'header__link--has-submenu' : '').header__link.hover-color-accent.text-nowrap.text-upper.text-w500= link.title
                                include ../../icons/header/menu-item-arrow
                        else
                            a(href=link.href).header__link.text-nowrap.text-upper.text-w500= link.title

            a(href="#").header__btn.text-upper.text-w700.text-center
                | Записаться
                br
                | на консультацию