mixin check-list(className = '')
    section.check-list(class=className).position-relative.overflow-hidden
        div.check-list__inner.container
            div.check-list__content.flex.flex-align-center
                h2.check-list__title.text-w400 Получите #[span.text-w700 бесплатный чек-лист] «ТОП-10 ошибок пациентов перед имплантацией»

                a(href="#").check-list__link.button.accent.w-250 Скачать файл