mixin complex-cases(className = '')
    section.complex-cases(class=className)
        div.complex-cases__inner.container
            dov.complex-cases__card.flex.flex-align-center.flex-justify-between
                img(src="/icons/complex-cases.svg" alt="" width="134" height="125" loading="lazy").complex-cases__img.hidden-mobile

                h3.complex-cases__title.text-w400 К нам обращаются пациенты #[span.text-w700.color-accent с самыми сложными случаями.] Поможем даже тем пациентам, от лечения которых, по причине отсутствия опыта перелечивания зубов и нехватки технологий  в клинике, отказались коллеги!