mixin counter(className = '')
    section.counter(class=className)
        div.counter__inner.container
            div.counter__content
                h2.counter__title.text-w500.text-center
                    | В течение 17 лет работы мы вылечили более 150 000 зубов
                    br
                    | и устранили стоматологические проблемы более,
                    br
                    | чем у 20 000 пациентов!

                h2.counter__title.text-w700.color-accent.text-center Нам можно доверять!