section.info.section.section-mb-72
    div.info__inner.container
        div.info__container
            div.info__block
                div.info__icon
                    div.info__icon-bg.flex-center.blue
                        img(src="/icons/info/1.svg")

                div.info__content.flex.flex-align-end
                    div.info__text-block
                        h2.info__text.text-w500 Бережное удаление зубов в условиях нашей клиники всегда #[span.color-blue.text-w700 безболезненная процедура!]

                        a(href="#").info__btn.button.dark.hidden-mobile Подробнее

                    div.info__img-container.img-container
                        img(src="images/info-img.png" alt="")

                    a(href="#").info__btn.button.dark.visible-mobile Подробнее

            div.info__row.row
                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/2.svg")

                    div.info__content
                        div.info__text-block.text-center
                            p Аккуратно удаляя зубы с разделением корней, врач  «расшатывает» зуб в костной ткани, отделяя каждый корень от кости, разделяет его на несколько частей и отдельно удаляет каждую часть для того, #[span.color-accent.text-w700 чтобы максимально сохранить собственную костную ткань для последующей установки импланта.]

                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/3.svg")

                    div.info__content
                        div.info__text-block.text-center
                            p Удаление зуба с разделением корней в большинстве случаев позволяет обойтись без наращивания костной ткани, использования дорогостоящего искусственного компонента и долгого ожидания результата. #[span.color-accent.text-w700 Имплант можно установить сразу в день удаления! Не потребуется ожидание в два-три месяца!]

        h2.info__subtitle.text-w500.text-center В каких случаях #[span.color-accent.text-w700 необходимо удаление] восьмых зубов:


        div.info__block
            div.info__icon
                div.info__icon-bg.flex-center.blue
                    img(src="/icons/info/4.svg")

            div.info__content.flex.flex-align-center
                div.info__text-block
                    h2.info__text.text-w500 Удаление ретинированных, дистопированных, сверхкомплектных зубов требует от хирурга #[span.color-blue.text-w700 большого опыта и мастерства], поскольку восьмерки — самые сложные зубы в организме человека!

                div.info__img-container.img-container
                    img(src="images/info-img.png" alt="")

        div.info__container
            div.info__block
                div.info__icon
                    div.info__icon-bg.flex-center.blue
                        img(src="/icons/info/5.svg")

                div.info__content.flex.flex-align-center
                    div.info__text-block
                        h2.info__text.text-w500 Наши доктора имеют большой опыт по удалению самых сложных зубов, а так же дополнительную специализацию в области челюстно-лицевой хирургии, что позволяет им безболезненно и быстро, #[span.color-blue.text-w700 без негативных последствий удалять даже самые сложные восьмерки]!

                    div.info__img-container.img-container
                        img(src="images/info-img.png" alt="")

            div.info__row.row
                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/6.svg")

                    div.info__content.flex.flex-column
                        div.info__text-block
                            p.info__text--subtitle.color-accent.text-w700.text-center Зубы мудрости (восьмерки) рекомендуют к удалению, если:

                            ul.info__list
                                li.info__item для них #[span.color-blue.text-w700 нет места в челюсти] и при прорезывании они могут образовать скученность, давить на соседние зубы и испортить прикус;
                                li.info__item восьмерки #[span.color-blue.text-w700 прорезаются только на половину] или на треть, некоторые выходят под наклоном или горизонтально, что затрудняет их выход и ставит под угрозу здоровье корней соседних зубов, а также травмирует слизистую и язык.

                        a(href="#").info__btn.button.dark.m-auto Подробнее

                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/7.svg")

                    div.info__content.flex.flex-column
                        div.info__text-block
                            p.info__text--subtitle.color-accent.text-w700.text-center Зубы мудрости (восьмерки) рекомендуют к удалению, если:

                            ul.info__list
                                li.info__item восьмерки прорезаются через очень плотный слой костной ткани, поэтому на выходе #[span.color-blue.text-w700 нередко имеют уже кариес или пульпит];
                                li.info__item если при прорезывании над восьмым зубом #[span.color-blue.text-w700 образовался «десневой капюшон»] и такому зубу сложно провести гигиену: под мягкими тканями остаются налет и бактерии, образуя перикоронарит — воспаление мягких тканей вокруг зуба;
                                li.info__item #[span.color-blue.text-w700 киста ретинированного зуба] мудрости — показание к срочному удалению.

                        a(href="#").info__btn.button.dark.m-auto Подробнее

        div.info__container
            div.info__block
                div.info__icon
                    div.info__icon-bg.flex-center.blue
                        img(src="/icons/info/5.svg")

                div.info__content.flex.flex-align-center
                    div.info__text-block
                        h2.info__text.text-w500 Для самых сложных удалений, удалений в самых труднодоступных областях #[span.color-blue.text-w700 «золотым стандартом» в хирургии] считается современная ультразвуковая хирургическая #[span.color-blue.text-w700 система VarioSurg].

                    div.info__img-container.img-container
                        img(src="images/info-img.png" alt="")

            div.info__row.row
                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/6.svg")

                    div.info__content
                        div.info__text-block.text-center
                            p VarioSurg предоставляет возможность стоматологу-хирургу проводить #[span.color-blue.text-w700 атравматичные удаления], без перегрева костной ткани, применяется так же с целью сохранения кости для дальнейшей имплантации. Гарантирует минимальное травмирование и максимальный комфорт пациента во время проведения сложных удалений.

                div.info__col.col-12.mb-col-6
                    div.info__icon
                        div.info__icon-bg.flex-center.accent
                            img(src="/icons/info/7.svg")

                    div.info__content
                        div.info__text-block.text-center
                            p Луч лазера VarioSurg обладает #[span.color-blue.text-w700 дезинфицирующими свойствами]. Соседние ткани во время процедуры не травмируются, не возникает кровотечения, наложения швов после операции не требуется.
