mixin numbers(className = '')
    section.numbers(class=className)
        div.numbers__inner.container
            div.numbers__content.section
                h1.numbers__title.section__title.text-w500
                    | Каждый день #[span.color-blue.text-w700 восстанавливаем зубы]
                    br
                    | при любых клинических ситуациях

                div.numbers__list.row
                    div.numbers__card.col-12.ls-col-6
                        div.numbers__block
                            h1.numbers__number.text-w700.color-blue 17

                            p.numbers__text
                                | лет успешной работы
                                br
                                | без рекламы

                        div.numbers__block
                            h1.numbers__number.text-w700.color-blue 17 000

                            p.numbers__text здоровых улыбок созданных нашими врачами

                    div.numbers__card.col-12.ls-col-6
                        div.numbers__block
                            h1.numbers__number.text-w700.color-blue 255

                            p.numbers__text
                                | профессиональных
                                br
                                | курсов

                        div.numbers__block
                            h1.numbers__number.text-w700.color-blue 95%

                            p.numbers__text
                                | пациентов приходят к нам
                                br
                                | по рекомендации
