section.patients-say.section.section-border-block
    div.patients-say__inner.container
        h1.patients-say__title.color-blue.text-center Пациенты говорят:

        h2.patients-say__subtitle.text-w500.text-center «Эта клиника просто находка!», «В нашем случае клиника стала семейной», «Безупречная работа врачей!».

        div.patients-say__card.w-100
            div.patients-say__card-inner
                h3.patients-say__review.text-w600 ... Судя по отзывам, у "Стоматологии доктора Лившиц" вообще нет конкурентов!

                h4.patients-say__message Цены либо такие же, либо ниже самых дешевых стоматологий, а качество лечения, оборудование и опыт врачей превосходит стоматологии Премиум-класса, где цены на порядок выше!


        ul.patients-say__list.flex.flex-justify-center
            li.patients-say__item
                div.patients-say__img-container
                    img(src="images/patients-say-1.png" alt="ПроДокторов" loading="lazy")

                div.patients-say__rating.flex.flex-align-center
                    p.text-w700 5.0

                    div.patients-say__stars.flex
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star

                p.patients-say__reviews-counter.text-w700 859 отзывов

            li.patients-say__item
                div.patients-say__img-container
                    img(src="images/patients-say-2.png" alt="ПроДокторов" loading="lazy")

                div.patients-say__rating.flex.flex-align-center
                    p.text-w700 5.0

                    div.patients-say__stars.flex
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star

                p.patients-say__reviews-counter.text-w700 859 отзывов

            li.patients-say__item
                div.patients-say__img-container
                    img(src="images/patients-say-3.png" alt="ПроДокторов" loading="lazy")

                div.patients-say__rating.flex.flex-align-center
                    p.text-w700 5.0

                    div.patients-say__stars.flex
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star
                        include ../icons/person-star

                p.patients-say__reviews-counter.text-w700 859 отзывов
