mixin quote(className='')
    section.quote-general(class=className)
        div.quote-general__inner.container.text-center
           h1.quote-general__title.color-accent Но людей лечит не клиника, людей лечат врачи!

           div.quote-general__text-block
               h3.quote-general__text.text-w500 Мы собрали, пожалуй, лучшую команду стоматологов в Санкт-Петербурге!

               h1.quote-general__subtitle Знакомьтесь!
               h1.quote-general__subtitle.color-blue Наши врачи – наша гордость!