include ../common/video-btn

mixin welcome(isTransparent = true, sectionClass = '')
    section.welcome.section-mb-72(class=[sectionClass, isTransparent ? 'welcome--transparent' : 'section'])
        div.welcome__inner.container
            if isTransparent
                h1.welcome__title.text-center Ждем Вас в нашей уютной клинике!
            else
                h1.section__title.text-center
                    | #[span.color-accent Ждем Вас]
                    br
                    |в нашей уютной клинике!

            div.welcome__video.img-container.video-player.position-relative.w-100
                video(src="/videos/video.mp4" playsinline).js-video-player

                +video-btn()

                p.h3.welcome__video-info.js-video-info.position-absolute.hidden-mobile Посмотрите видео и почувствуйте комфорт нашей клиники!