mixin with-love-3(className = '')
    section.with-love-quote(class=className)
        div.with-love-quote__inner.container
            h1.with-love-quote__title.text-center Относимся к своим пациентам

            h2.with-love-quote__subtitle.text-w500.text-center #[span.color-accent.text-w700 с уважением и любовью:] мы не продаем
            h2.with-love-quote__subtitle.text-w500.text-center планы лечения, а возвращаем здоровье!
