extends ../components/layouts/base.pug

include ../components/common/breadcrumbs
include ../components/common/consultation-2
include ../components/blocks/contacts

block title
    | Статьи

block header
    +header(0)

block content
    +breadcrumbs(["Главная", "О нас", "Статьи"])

    section.article
        div.article__inner.container
            div.article__top
                div.article__header.flex.flex-align-center
                    h1.article__title.color-blue Керамические виниры

                    div.article__line

                div.article__date.flex
                    h4.text-w400 21.01.2025

                    a(href="#").h4.color-blue.text-w400 #Реставрация зубов

                h4.article__about.text-w400 Виниры из керамики – это микропротезы для восстановления формы зуба и изменения его цвета. Они дают долговечный эстетический эффект, который не может обеспечить ни один метод отбеливания. За счет неограниченного срока годности и высокой прочности они выигрывают у композитных материалов, используемых для реставрации зубов. При этом устанавливаются они без травматической обработки зубов, чего не избежать при протезировании коронками.

                div.article__empty.w-100.position-relative
                    div.article__img-container.img-container.position-absolute.w-100
                        img(src="/images/article.jpg" alt="")

    section.article-content.article-content--pt.section-pb-72.section-border-block
        div.article-content__inner.container

            div.article-content__content
                div.article-content__empty.w-100

                div.article__block
                    h2.article__subtitle.text-w500 Особенности метода и показания

                    div.article__text-block
                        p Керамический винир (от англ. veneer – придавать внешний лоск, маскировать) имеет вид накладки, замещающей внешнюю поверхность зуба (а иногда и боковую). Подобная конструкция может эффективно и надолго решить ряд проблем:

                        ul.article__list
                            li.article__item неэстетичный цвет зубов (желтизна, потемнение);
                            li.article__item флюорозные пятна;
                            li.article__item аномальная форма зуба;
                            li.article__item сколы на эмали;
                            li.article__item слишком большие межзубные промежутки.

                div.article__block
                    h2.article__subtitle.text-w500 Виды керамических виниров

                    div.article__text-block
                        p По используемым для изготовления материалам различают:

                        ul.article__list.number-list
                            li.article__item Фарфоровые виниры из прессованной и непрессованной керамики. Обладают отличной эстетикой, хорошо фиксируются на зубах, но не устойчивы к особо сильным нагрузкам.
                            li.article__item Накладки из диоксида циркония. Состоят из циркониевого каркаса, на который нанесена керамическая масса. Материал чрезвычайно крепкий (прочнее металла), но имеет низкие адгезивные свойства (т.е. недостаточно надежно фиксируются на зубах).

                    div.article__text-block
                        p Исходя из толщины микропротезы делятся на:

                        ul.article__list
                            li.article__item обычные (их толщина составляет 1,3-1,5 мм);
                            li.article__item ультраниры (от 0,3 до 0,5 мм).

                div.article__block
                    h2.article__subtitle.text-w500 Лучшие производители

                    div-block
                        p Широкое применение в эстетической стоматологии получили микропротезы из керамики таких производителей:

                    div.article__text-block
                        ul.article__list
                            li.article__item E-max (немецкая литийсиликатная стеклокерамика повышенной прочности);
                            li.article__item Empress (очень тонкая и прочная армированная лейцидная стеклокерамика, производимая в Лихтеншнейне);
                            li.article__item Finesse All Ceramic (американская армированная лейцидная стеклокерамика);
                            li.article__item Cergo (керамика немецкого производства с очень гладкой поверхностью).

                div.article__block
                    h2.article__subtitle.text-w500 «Голливудские» фарфоровые виниры

                    div.article__text-block
                        p Отдельно следует упомянуть так называемые «голливудские» виниры или люминиры (от английского luminary – светило). Этими микропротезами украшают улыбки американских знаменитостей вот уже 20 лет. Люминирам в свое время отдали предпочтения Джордж Клуни, Том Круз, Анджелина Джоли, Гвинет Пелтроу и другие звезды.

                    div-block
                        p Люминиры изготавливаются из самой прочной керамики и имеют толщину всего 0,2-0,3 мм. Методика их производства запатентована и держится в секрете. Это единственные микропротезы-накладки, которые фиксируются на необточенные зубы.

                div.article__block
                    h2.article__subtitle.text-w500 Изготовление и установка

                    div.article__text-block
                        p Весь процесс протезирования винирами занимает примерно неделю и предполагает два посещения стоматолога.

                div.article__block
                    h2.article__subtitle.text-w500 Как делают виниры?

                    div.article__text-block
                        p Фарфоровые виниры могут быть изготовлены двумя способами:

                        ul.article__list
                            li.article__item послойным нанесением и обжигом фарфоровой массы (при работе с непрессованной керамикой);
                            li.article__item литьевым прессованием под воздействием высоких температур и давления (так делают накладки из прессованной керамики, которые считаются более прочными, чем из непрессованной).

                    div.article__text-block
                        p Микропротезы из диоксида циркония изготавливают по технологии CAD/CAM:

                        ul.article__list
                            li.article__item система CAD создает трехмерную модель накладки с помощью компьютера;
                            li.article__item система CAM позволяет изготавливать микропротезы по трехмерной модели на точнейшем автоматическом фрезеровочном станке (без вмешательства человека).

                    div-block
                        p Самый быстрый способ автоматизированного создания винира из диоксида циркония – использование прибора Сerec (комплекса технологий, оборудования и материалов для производства керамических микропротезов).

                div.article__block
                    h2.article__subtitle.text-w500 Как устанавливают керамические виниры?

                    div.article__text-block
                        p Установка включает следующие этапы:

                        ul.article__list.number-list
                            li.article__item Выбор цвета и типа накладки.
                            li.article__item Одонтопрепарирование (удаление твердых тканей зуба). Для установки обычных виниров и ультраниров необходимо сошлифовать с поверхности зуба от половины до полутора миллиметров. Люминиры устанавливаются без шлифовки.
                            li.article__item Создание слепка препарированного зуба.
                            li.article__item Фиксация временной накладки из пластика (обточенный зуб нуждается в защите от агрессивной среды ротовой полости на время изготовления накладки).
                            li.article__item Лабораторное изготовление винира по снятым слепкам.
                            li.article__item Закрепление микропротеза.

                    div-block
                        p При установке люминиров второй и четвертый этап опускаются.

    +consultation-2('section', '/images/consultation-person-2.png', 'Лебедев Дмитрий Валерьевич', 'Стоматолог-хирург-имплантолог, челюстно-лицевой хирург', 'Опыт работы 19 лет')

    section.article-content.section.section-border-block
        div.article-content__inner.container
            div.article__block
                h2.article__subtitle.text-w500 Фиксация виниров из керамики

                div.article__text-block
                    p К зубам керамические виниры приклеиваются специальными стоматологическими цементами (Variolink, Multilink Automix, SpeedCEM, Vivaglass CEM и другими). Перед нанесением цемента зуб обрабатывается протравочным гелем, который усиливает силу сцепления.

            div.article__block
                h2.article__subtitle.text-w500 Уход

                div.article__text-block
                    p Керамические виниры требуют такого же ухода, как и за родными зубами. Для сохранения их эстетики и продления срока службы рекомендуется:

                    ul.article__list
                        li.article__item сократить употребление в пищу продуктов с красителями (накладки не изменят цвета, а вот фиксирующий цемент – может);
                        li.article__item носить пластиковую капу при бруксизме – патологическом скрежете зубами;
                        li.article__item не подвергать зубы с винирами усиленной нагрузке (не раскусывать лед, не открывать бутылки, не кусать ногти и кончики волос, не лущить семечки);
                        li.article__item не пропускать осмотры у стоматолога (раз в полгода).

            div.article__block
                h2.article__subtitle.text-w500 Срок службы

                div.article__text-block
                    p Установка включает следующие этапы:

                    ul.article__list.number-list
                        li.article__item Срок годности керамических виниров не ограничен, но в среднем они служат 10-12 лет.
                        li.article__item Накладки с каркасом из диоксида циркония имеют больший эксплуатационный срок.
                        li.article__item Что касается люминиров, то их производители заявляют 20-летний срок службы.

                div.article__text-block
                    p Все виды виниров со временем отклеиваются или ломаются от нагрузок. В первом случае микропротез можно установить снова, во втором – нет, поскольку они не подлежат ремонту.

            div.article__block
                h2.article__subtitle.text-w500 Плюсы и минусы

                div.article__text-block
                    h3.article__sub-subtitle.text-w600 Преимущества:

                div.article__text-block
                    ul.article__list.number-list
                        li.article__item высокий эстетический эффект (керамика отличается от композитов тем, что сохраняет свой первоначальный цвет и при качественной обработке ничем не отличается от настоящего зуба);
                        li.article__item биосовместимость (керамические виниры гипоаллергенны);
                        li.article__item долговечность (в сравнении с композитными накладками, кратковременным эффектом отбеливания и пятилетним сроком службы обычной пломбы);
                        li.article__item минимальная или нулевая обработка зуба (под коронку зуб обтачивается намного сильнее).

                div.article__text-block
                    h3.article__sub-subtitle.text-w600 Недостатки:

                div.article__text-block
                    ul.article__list.number-list
                        li.article__item дороговизна (реставрация композитными материалами дешевле);
                        li.article__item неустойчивость к сильным нагрузкам (могут отслаиваться и ломаться);
                        li.article__item необратимость препарирования (обточенный под винир зуб уже не сможет функционировать нормально после снятия накладки).

            div.article__btn-bar.flex
                a(href="#").article__btn.button.dark.w-250 Посмотреть все
                a(href="#").article__btn.button.accent.w-250 Узнать стоимость

    +contacts('section')
