extends ../components/layouts/base.pug

include ../components/common/breadcrumbs
include ../components/blocks/we-care
include ../components/blocks/awards
include ../components/blocks/prices
include ../components/common/person
include ../components/common/consultation
include ../components/blocks/welcome
include ../components/blocks/counter

block title
    | Протезирования зубов

block content
    +breadcrumbs(["Главная", "Услуги", "Протезирования зубов"])

    section.banner.section-mb-72
        div.banner__inner.container
            div.banner__text-block.text-center
                h1.banner__title.color-blue Все виды протезирования

                h2.banner__subtitle (съёмные протезы, протезы на имплантах, коронки из керамики и циркония)
                h2.banner__subtitle.color-accent от стоматологов-ортопедов, которые входят в ТОП-5 лучших стоматологов СПб!

            include ../components/blocks/banner-content

    include ../components/blocks/comparison

    section.info.info--without-border.section.section-mb-72
        div.info__inner.container
            div.info__container
                div.info__block
                    div.info__icon
                        div.info__icon-bg.flex-center.blue
                            img(src="/icons/info/1.svg")

                    div.info__content.flex.flex-align-center
                        div.info__text-block
                            h2.info__text.text-w500 Протезирование зубов – #[span.text-w700.color-blue это возможность не только красиво улыбаться, но и восстановить утраченное здоровье]! Вновь обрести возможность есть любимую пищу!

                        div.info__img-container.img-container
                            img(src="images/info-img.png" alt="")

                div.info__row.row
                    div.info__col.col-12.mb-col-6
                        div.info__icon
                            div.info__icon-bg.flex-center.accent
                                img(src="/icons/info/2.svg")

                        div.info__content
                            div.info__text-block.text-center
                                p.info__name.color-blue.text-w700.text-upper СЪЕМНОЕ ПРОТЕЗИРОВАНИЕ
                                p рекомендовано пациентам с полным отсутствием зубов. Акриловые, нейлоновые протезы, протезы Acry Free от наших стоматологов-ортопедов станут удобной заменой собственных зубов и восстановят жевательную и эстетическую функции.

                    div.info__col.col-12.mb-col-6
                        div.info__icon
                            div.info__icon-bg.flex-center.accent
                                img(src="/icons/info/3.svg")

                        div.info__content
                            div.info__text-block.text-center
                                p.info__name.color-accent.text-w700.text-upper НЕСЪЕМНОЕ ПРОТЕЗИРОВАНИЕ
                                p может проводиться как на собственных зубах (установка коронок, мостовидных протезов из нескольких коронок), так и на имплантах. Мостовидные протезы с опорой на импланты, полное восстановление зубов челюсти на четырёх имплантах, единичные коронки на импланты полностью восстановят зубной ряд и вернут здоровую улыбку!

    +we-care('/images/we-care-2.png', false)

    +awards(false, true)

    +prices('Виды протезирования и стоимость', dentalProstheticsArr, 'Узнать подробнее', 'text-upper', 'dark', 'section-mb-72')

    include ../components/blocks/quote

    section.person-list.section.section-border-top
        div.person-list__inner.container
            each item, index in dentalProstheticsPersons
                +person(item, index % 2 === 0)

    include ../components/blocks/with-love

    +counter()

    include ../components/blocks/patients-say

    include ../components/blocks/familiar-person

    +consultation('/images/consultation-team-3.png')

    +welcome(false, 'section-mb-72')
