extends ../components/layouts/base.pug

include ../components/common/breadcrumbs

block title
    | Акции и скидки

block header
    +header(5)

block content
    +breadcrumbs(["Главная", "Акции и скидки"])

    section.discounts.section-mb-72
        div.discounts__inner.container
            h1.discounts__title.section__title.color-blue Постоянные скидки


            ul.discounts__list.row
                each item in discounts
                    li.discounts__item.overflow-hidden.col-12.mb-col-4
                        div.discounts__img-container.img-container.w-100
                            img(src=item.img alt=item.title)

                        div.discounts__bottom.flex.flex-column
                            div.discounts__text-block
                                h2.discounts__name.color-blue= item.title

                                p.discounts__text= item.text

                            if item.visibleLink
                                a(href="#").discounts__link.button.dark Подробнее

            h3.discounts__subtitle.text-center СКИДКИ НЕ РАСПРОСТРАНЯЮТСЯ НА СТОИМОСТЬ УСЛУГ С ПОМЕТКОЙ АКЦИЯ