extends ../components/layouts/base.pug

include ../components/blocks/welcome
include ../components/blocks/awards

block title
    | Главная

block content
    +awards

    include ../components/blocks/index/dr-livshits

    include ../components/blocks/index/principles-operation

    include ../components/blocks/proud-reviews

    include ../components/blocks/index/quote

    include ../components/blocks/index/team-dentists

    include ../components/blocks/index/honors

    include ../components/common/consultation

    +welcome('welcome--transparent')

    include ../components/blocks/index/contacts

block footer
    +footer(0)