extends ../components/layouts/base.pug

block title
    | Главная

block content
    include ../components/blocks/index/awards

    include ../components/blocks/index/dr-livshits

    include ../components/blocks/index/principles-operation