extends ../components/layouts/base.pug

include ../components/blocks/welcome
include ../components/blocks/awards
include ../components/common/consultation
include ../components/blocks/team-dentists
include ../components/blocks/principles-operation
include ../components/blocks/proud-reviews
include ../components/blocks/contacts

block title
    | Главная

block content
    +awards('section-mb-72')

    include ../components/blocks/index/dr-livshits

    +principles-operation('section-mb-72 section')

    +proud-reviews('section section-mb-72 section-border-block')

    include ../components/blocks/index/quote

    +team-dentists('section section-border-block')

    include ../components/blocks/index/honors

    +consultation('section')

    +welcome('section section-border-block')

    +contacts('section')

block footer
    +footer(0)