extends ../components/layouts/base.pug

block title
    | Главная

block content
    include ../components/blocks/index/awards

    include ../components/blocks/index/dr-livshits

    include ../components/blocks/index/principles-operation

    include ../components/blocks/index/proud-reviews

    include ../components/blocks/index/quote

    include ../components/blocks/index/team-dentists

    include ../components/blocks/index/honors

    include ../components/blocks/index/welcome

    include ../components/blocks/index/contacts

block footer
    +footer(0)