extends ../components/layouts/base.pug

include ../components/common/breadcrumbs
include ../components/blocks/comparison
include ../components/blocks/advertising
include ../components/blocks/we-care
include ../components/blocks/awards
include ../components/blocks/quote
include ../components/common/person
include ../components/blocks/with-love-3
include ../components/blocks/with-love-4
include ../components/blocks/patients-say
include ../components/blocks/check-list
include ../components/blocks/problems
include ../components/blocks/familiar-person
include ../components/blocks/process
include ../components/blocks/works
include ../components/blocks/numbers
include ../components/blocks/recommendations
include ../components/blocks/complex-cases
include ../components/common/consultation
include ../components/blocks/other-services
include ../components/blocks/welcome
include ../components/blocks/contacts

block title
    | Имплантация зубов

block header
    +header(1)

block content
    +breadcrumbs(["Главная", "Услуги", "Имплантация зубов"])

    section.banner.section-mb-72
        div.banner__inner.container
            div.banner__text-block.text-center
                h1.banner__title.color-blue Имплантация зубов метод «All on 4»

                h2.banner__subtitle.color-accent xxxxxx xxxxxx xxxxx xxxxxxx xxxxxxx

            include ../components/blocks/banner-content


    section.service-info.section-mb-72
        div.service-info__inner.container
            div.service-info__content
                div.service-info__header
                    h2.service-info__subtitle.text-w700 #[span.color-blue All-on-4] #[span.color-accent (все зубы на четырех имплантах)] #[span.color-blue —]

                    p.service-info__about это современное решение для пациентов с полной адентией, позволяющее быстро восстановить зубы с использованием всего 4-х имплантов, которые служат опорой для несъемного протеза. Методика позволяет за один день восстановить зубной ряд даже при значительной атрофии костной ткани, избегая сложных операций по наращиванию костной ткани.

                div.service-info__img-container.img-container.w-100
                    img(src="/images/article.jpg" alt="")

                div.service-info__block
                    h2.service-info__name.text-w700 #[span.color-accent Преимущества] #[span.color-blue метода:]


                    ul.service-info__list
                        li.service-info__item Быстрое восстановление зубов (протез ставят сразу).
                        li.service-info__item Минимальное количество имплантов (экономия средств).
                        li.service-info__item Возможность избежать костной пластики.
                        li.service-info__item Полная функциональность и эстетика в день операции.

                div.service-info__block
                    h2.service-info__name.text-w700 #[span.color-blue Этапы имплантации] #[span.color-accent по методике All-on-4]

                    ul.service-info__list.number-list
                        li.service-info__item #[span.color-blue.text-w700 Диагностика и планирование]
                            ul.service-info__list
                                li.service-info__item Консультация стоматолога-имплантолога.
                                li.service-info__item Анализ снимка КЛКТ пациента
                                li.service-info__item 3D-моделирование будущего протеза.
                        li.service-info__item #[span.color-blue.text-w700 Хирургический этап]
                            ul.service-info__list
                                li.service-info__item Удаление несостоятельных зубов, если таковые имеются
                                li.service-info__item Установка четырех имплантов

                            p.service-info__text Операция проводится под местной анестезией и занимает не более получтора часов, безболезненна.
                        li.service-info__item #[span.color-blue.text-w700 Фиксация временного протеза]
                            p.service-info__text В тот же день, или на следующий день, устанавливается временный несъемный адаптационный протез с опорой на импланты

                        li.service-info__item #[span.color-blue.text-w700 Установка постоянного протеза]
                            p.service-info__text Через 4-6 месяцев временный протез заменяют на постоянный (из металлопластмассы, циркония или керамокомпозита).

                div.service-info__block
                    h2.service-info__name.text-w700.color-blue #[span.color-blue Сроки] #[span.color-accent лечения:]

                    ul.service-info__list
                        li.service-info__item 1 день – установка имплантов и временного протеза.
                        li.service-info__item Через 4-6 месяцев – фиксация постоянного протеза.

                div.service-info__block
                    h2.service-info__name.text-w700.color-blue #[span.color-accent Показания] #[span.color-blue к All-on-4:]

                    ul.service-info__list
                        li.service-info__item Полное отсутствие зубов на челюсти.
                        li.service-info__item Значительная атрофия костной ткани.
                        li.service-info__item Нежелание носить съемные протезы.
                        li.service-info__item Потребность в быстром восстановлении зубов.

                div.service-info__block
                    h2.service-info__name.text-w700.color-blue #[span.color-blue Противопоказания:]

                    ul.service-info__list
                        li.service-info__item Серьезные заболевания (СПИД, онкология, декомпенсированный диабет).
                        li.service-info__item Тяжелые патологии костной ткани (остеопороз, остеомиелит).
                        li.service-info__item Болезни крови (нарушение свертываемости).

    +comparison('section section-border-block')

    +advertising('section section-border-bottom section-mb-72')

    section.not-offer.section.section-mb-72.is-blue
        div.not-offer__inner.container
            h1.not-offer__title.text-w500.section__title
                | Почему #[span.color-accent.text-w700 мы не предлагаем]
                br
                | Вам дешевые импланты?

            ul.not-offer__list.row
                li.not-offer__item.bordered-item.col-12.mb-col-6
                    div.icon
                        div.icon__wrapper.blue.flex-center.accent
                            img(src="/icons/check.svg")

                    h3.not-offer__name.text-w700 Наиболее значимым и важным параметром любого импланта

                    p.not-offer__text (самого дорогого или самого бюджетного) #[span.color-blue.text-w700 является его приживление в костной ткани,] на месте отсутствующего зуба. И если для известных брендов процент приживления составляет до 99%, то бюджетные варианты имплантов имеют процент существенно ниже, что негативно сказывается на здоровье пациентов и уменьшает шансы на возможность проведения повторной имплантации после отторжения или удаления такого «неприжившегося» импланта.

                    a(href="#").not-offer__link.button.dark.w-250.m-auto Подробнее

                li.not-offer__item.bordered-item.col-12.mb-col-6
                    div.icon
                        div.icon__wrapper.blue.flex-center.accent
                            img(src="/icons/check.svg")

                    h3.not-offer__name.text-w700 Основной фактор риска при установке дешевого импланта

                    p.not-offer__text #[span.color-accent.text-w700 является его отторжение]. Но, совершенно необязательно выбирать «самый дорогой» имплант. При выборе следует руководствоваться информацией о наличии клинических исследований – они должны составлять у бренда имплантов 10-15 лет как минимум до выхода на рынок, а так же срок присутствия на рынке той или иной имплантационной системы должен быть не менее 10 лет. Лишь такой порядок цифр может гарантировать не на словах, а в цифрах количество проведенных операций и отдаленный результат – то есть количество пациентов, у которых все хорошо через 10-15 лет после установки имплантов и количество пациентов, у которых последовали осложнения, отторжения имплантов.

                    a(href="#").not-offer__link.button.dark.w-250.m-auto Подробнее

    section.not-offer.section.section-border-block
        div.not-offer__inner.container
            h1.not-offer__title.text-w500.section__title
                | Почему #[span.color-blue.text-w700 мы не предлагаем]
                br
                | Вам металлокерамические коронки?

            ul.not-offer__list.row
                li.not-offer__item.shadow-item.col-12.mb-col-4
                    div.icon
                        div.icon__wrapper.flex-center.accent
                            img(src="/icons/check.svg")

                    h3.not-offer__name.text-w700 Коронки из металлокерамики по-прежнему создаются вручную

                    p.not-offer__text техниками в лабораторных условиях и сохраняют погрешность в прилегании. То есть под такую коронку могут попадать мельчайшие кусочки пищи и создавать неудобства для пациентов.

                li.not-offer__item.shadow-item.col-12.mb-col-4
                    div.icon
                        div.icon__wrapper.flex-center.accent
                            img(src="/icons/check.svg")

                    h3.not-offer__name.text-w700 Совмещение разнородных металлов

                    p.not-offer__text титановый имплант и коронка  из кобальт-хрома или никель-хрома в жидкой среде полости рта может негативно влиять на состояние слизистой, на состояние ЖКТ.

                li.not-offer__item.shadow-item.col-12.mb-col-4
                    div.icon
                        div.icon__wrapper.flex-center.accent
                            img(src="/icons/check.svg")

                    h3.not-offer__name.text-w700 Поскольку коронка из металла покрывается керамикой поверх,

                    p.not-offer__text то существует вероятность образования сколов керамики с металла, а так же потемнение десны вокруг коронки.

    +we-care('section', '/images/we-care-2.png', false)

    +awards('section section-border-block section-mb-72', false)

    +quote('section section-mb-72')

    section.person-list.section.section-border-block
        div.person-list__inner.container
            each item, index in dentalProstheticsPersons
                +person(item, index % 2 === 0)

    +with-love-3('section')

    +with-love-4('section-pb-72 section-border-bottom section-mb-72')

    +patients-say('section section-border-block')

    +check-list('section section-mb-72')

    +problems('section section-border-block')

    +familiar-person('section section-border-bottom section-mb-72')

    +process('section section-mb-72')

    +works('section section-border-block', false)

    +numbers('section')

    +recommendations('section section-border-block section-mb-72')

    +complex-cases()

    +consultation('section', '/images/consultation-team-3.png')

    +other-services('section section-border-block section-mb-72')

    +welcome('section', false)

    +consultation('section', '/images/consultation-team-3.png')

    +contacts('section-mb-72')
