@use '../../../helpers' as *;

.discounts {

  &__title {
    @include fluid-text(52, 40);
  }

  &__list {
    --column-gap: #{rem(20)};
    --row-gap: #{rem(20)};

    margin-bottom: fluid(72, 40);

    @include tablet {
      --column-gap: #{rem(15)};
      --row-gap: #{rem(15)};
    }
  }

  &__item {
    background: var(--color-blue);
    border-radius: rem(15);
    display: flex !important;
    flex-direction: column;
    text-align: center;
  }

  &__img-containr {
    aspect-ratio: 380/248;
  }

  &__bottom {
    flex-grow: 1;
    gap: fluid(24, 12);
    align-items: center;
    padding: fluid(24, 12) fluid(24, 12) fluid(32, 12);
  }

  &__name {
    @include fluid-text(32, 16);

    margin-bottom: fluid(16, 8);
  }

  &__text {
    @include fluid-text(18, 14);
  }

  &__link {
    margin-top: auto;
    padding-inline: rem(10);
    width: min(#{rem(248)}, 100%);
  }
}

.blog-item .discounts__text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}