@use '../../../helpers' as *;

.discounts {

  &__title {
    @include fluid-text(52, 40);
  }

  &__card {
    background: var(--color-blue);
    border-radius: rem(15);
    display: flex !important;
    flex-direction: column;
  }

  &__img-containr {
    aspect-ratio: 380/248;
  }

  &__bottom {
    flex-grow: 1;
    gap: fluid(24, 12);
    align-items: center;
    padding: fluid(24, 12) fluid(24, 12) fluid(32, 12);
  }

  &__name {
    @include fluid-text(32, 16);

    margin-bottom: fluid(16, 8);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.5em;
    line-height: 1.2;
  }

  &__text {
    @include fluid-text(18, 14);
  }

  &__link {
    margin-top: auto;
    padding-inline: rem(10);
    min-width: rem(248);
  }
}