
section.awards.section-mb-112
    div.awards__inner.container
        div.awards__header.flex.flex-justify-center
            div.h1.awards__title.text-w500.flex.flex-column
                div.awards__top.flex.flex-align-center
                    span Лучшая
                    div.awards__stars.flex
                        include ../../icons/index/star
                        include ../../icons/index/star
                        include ../../icons/index/star
                        include ../../icons/index/star
                        include ../../icons/index/star

                span частная стоматология в СПБ

            ul.awards__list.flex.flex-align-end
                li.awards__item
                    img(src="/images/index/award-1.svg" alt="Гран-при")
                li.awards__item
                    img(src="/images/index/award-2.svg" alt="ПроДокторов 2023")

        img(src="/images/index/team-awards.png" alt="Сотрудники").awards__img.w-100