
section.contacts
    div.contacts__inner.container

        div.contacts__content
            h2.contacts__title Контакты

            div.contacts__bottom.flex.flex-column
                ul.contacts__list.flex.flex-justify-between
                    li.contacts__item
                        p.contacts__subtitle.text-w500 Стоматологическая клиника доктора Лившиц

                        p.contacts__text 197342, Санкт-Петербург, Торжковская ул. д.13 к.1, ст.м. "Черная речка"

                    li.contacts__item
                        p.contacts__subtitle.text-w500 Часы работы

                        p.contacts__text Понедельник - Воскресенье
                        p.contacts__text 9.00 - 21.00

                    li.contacts__item
                        p.contacts__subtitle.text-w500 E-mail

                        a(href="mailto:info@drlivshits.ru").contacts__link info@drlivshits.ru

                    li.contacts__item
                        p.contacts__subtitle.text-w500 Телефоны

                        a(href="tel:88124051001").contacts__link 8 (812) 405-10-01
                        a(href="tel:+79110030101").contacts__link +7 (911) 003-01-01

                iframe(
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A57555e3ceb4a81d1a68f3ded7dbd1dc35c1fe6af0924f8b7492226ebbfddc079&amp;source=constructor"
                    width="676"
                    height="461"
                    frameborder="0"
                ).contacts__map.w-100