@use '../../../helpers' as *;

.honors {

  &__slider {
    padding-right: 1px !important;
    padding-bottom: 1px !important;
  }

  &__card {
    @include fluid-text(18, 12);

    display: flex !important;
    align-items: center;
    border: var(--border);
    border-radius: var(--radius-big);
    padding: rem(24) 0 rem(24) rem(103);
    min-height: rem(94);

    @include mobile {
      min-height: rem(78);
      padding: rem(16) rem(16) rem(16) rem(90);
    }
  }

  &__img {
    @include square(75);

    top: 0;
    left: rem(10);

    @include mobile {
      width: rem(64);
      height: rem(63);
    }
  }
}