@use '../../../helpers' as *;

.welcome {
  border-bottom: var(--border);

  @include mobile {
    border-top: var(--border);
  }

  &__inner {
    padding-bottom: fluid(112, 40);

    @include mobile {
      padding-top: fluid(112, 40);
    }
  }

  &__title {
    margin-bottom: fluid(48, 24);
  }

  &__video {
    border: var(--border);
    border-radius: var(--radius-big);
    aspect-ratio: 1180/384;

    @include mobile {
      aspect-ratio: 280/119;
    }
  }
}