mixin breadcrumbs(list = [])
    div.breadcrumbs.position-absolute.w-100
        div.breadcrumbs__inner.container
            ul.breadcrumbs__list.flex
                each item, index in list
                    li.breadcrumbs__item(class= index === list.length - 1 ? 'is-here' : '').position-relative
                        a(href= index === 0 ? "/" : "#").breadcrumbs__link= item