include form

mixin consultation(img = '/images/consultation-team.png', isLine = false)
    section.consultation.section
        div.consultation__inner.container

            div.consultation__content.position-relative
                div.consultation__line.position-absolute.hidden-tablet

                div.consultation__left.flex.flex-column.position-relative
                    p.consultation__title.text-center.text-w700 #[span.color-accent Лечение] начинается с консультации

                    img(src=img alt="" loading="lazy").consultation__img(class=isLine ? 'is-on-line' : '')

                +form('Предложим удобное время для Вашего визита к нам', 'Записаться на консультацию', 'consultation__form')