@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-light-alt: #FEFEFE;

  --color-dark: #505050;

  --color-gray: #F2F3F4;
  --color-gray-alt: #D8D6D6;

  --color-blue: #F2FBFE;
  --color-blue-dark: #005A9C;

  --color-beige: #FBF1E5;

  --color-accent: #F18F01;

  --radius-regular: #{rem(5)};
  --radius-medium: #{rem(8)};
  --radius-big: #{rem(10)};

  --border: 1px solid var(--color-gray);
  --border-alt: 1px solid var(--color-gray-alt);
  --border-blue: 1px solid var(--color-blue-dark);

  --shadow: -2px 8px 20px 0 #4C4C4C1A;

  --font-family-base: 'Rubik', sans-serif;
  --font-family-accent: 'Manrope', sans-serif;
  --font-family-additional: 'Roboto', sans-serif;

  --container-width: #{rem(1308)};
  --container-padding-x: #{rem(40)};

  --transition-duration: 0.2s;
}