@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-light-alt: #FEFEFE;

  --color-dark: #3D3D3D;
  --color-dark-alt: #424242;

  --colog-gray: #F2F3F4;

  --color-blue: #DFF5FF;
  --color-blue-dark: #1D5191;
  --color-blue-dark-2: #005A9C;

  --color-beige: #FFEFD6;

  --color-accent: #FF791C;
  --color-accent-alt: #FF9D14;

  --radius-regular: #{rem(5)};
  --radius-medium: #{rem(8)};
  --radius-big: #{rem(10)};

  --border: 1px solid var(--colog-gray);

  --shadow: -2px 8px 20px 0 #4C4C4C1A;

  --font-family-base: 'Roboto', sans-serif;

  --container-width: #{rem(1744)};
  --container-padding-x: #{rem(40)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1308)};
  }
}