@use '../helpers' as *;

.breadcrumbs {
  @include fluid-text(14, 10);

  margin-top: fluid(40, 16);
  margin-bottom: fluid(48, 40);
  position: relative !important;

  @include mobile {
    color: #000000;
  }

  &__list {
    column-gap: rem(26);
    row-gap: rem(8);
    flex-wrap: wrap;
  }

  &__item {

    &:not(:last-child) {

      &::after {
        content: '/';
        position: absolute;
        bottom: 0;
        right: rem(-19);
      }
    }

    &.is-here {
      pointer-events: none;
    }
  }
}