@use '../helpers' as *;

.burger-menu {
  padding-top: rem(40);
  top: 0;
  background: var(--color-light-alt);
  opacity: 0;
  height: 100%;
  bottom: 0;
  transform: translateX(-100%);
  transition:
          opacity var(--transition-duration),
          transform var(--transition-duration);
  overflow-y: auto;

  &.is-open {
    opacity: 1;
    transform: translateX(0);
  }

  &__btn span {
    @include flex-center();
  }

  &__inner {
    padding-block: rem(16);
  }

  &__header {
    padding: rem(14) rem(15);
    transition: background var(--transition-duration);

    @include hover {
      background: var(--color-blue);
    }
  }

  &__top {
    gap: rem(10);
    font-size: rem(14);
  }

  &__img-container {
    width: rem(34);
    min-width: rem(34);
    height: rem(36);
    border-radius: var(--radius-regular);
  }

  &__link {
    padding-right: rem(10);
  }

  &__links {

    &-link {
      font-size: rem(12);
      padding: rem(12) rem(15);
      border-radius: var(--radius-medium);

      @include hover {
        background: var(--color-blue);
      }
    }
  }

  .accordion__toggle {
    color: var(--color-blue-dark);
  }

  &__close {
    top: rem(18);
    left: calc(var(--container-padding-x) + #{rem(8)});
  }
}