@use '../helpers' as *;

.header {

  &__logo {
    width: rem(295);
    height: auto;

    @include laptop-s {
      width: rem(200);
    }

    @include mobile {
      width: rem(130);
    }
  }

  &__top {
    background: var(--colog-gray);

    &_inner {
      gap: fluid(50, 35);
      padding-block: fluid(24, 8);
    }
  }

  &__info {
    gap: fluid(56, 0);

    &-item {
      gap: rem(8);
    }

    &-title {
      font-size: rem(16);

      &:not(:last-child) {
        margin-bottom: rem(4);
      }
    }

    &-text {
      font-size: rem(14);
    }
  }

  &__icon {
    @include square(40);
    @include flex-center();

    background: var(--color-light);
    border-radius: var(--radius-regular);
    color: var(--color-blue-dark);

    @include tablet {

      @include hover() {
        cursor: pointer;
        filter: brightness(.9);
      }
    }

    &--link {

      @include tablet-above {
        pointer-events: none;
      }
    }
  }

  &__menu {
    background: var(--color-blue);
    box-shadow: var(--shadow);

    &_inner {
      padding-block: rem(8);
      gap: rem(15);

      @include laptop-s {
        gap: rem(10);
      }
    }
  }

  &__list {
    gap: fluid(12, 0);
    border-radius: var();

    @include laptop-s {
      gap: rem(0);
    }
  }

  &__item {
    border-radius: var(--radius-medium);
    transition:
            background var(--transition-duration),
            color var(--transition-duration);

    &.is-active, &.is-here {
      background: var(--color-blue-dark);
      color: var(--color-light);
    }
    &.is-here {
      pointer-events: none;
    }

    &--has-submenu svg {
      @include abs-y;

      position: absolute;
      right: rem(20);
    }
  }

  &__link {
    @include fluid-text(18, 10);

    padding: rem(16);
    line-height: 1;

    @include laptop-s {
      font-size: rem(16);
    }

    &--has-submenu {
      padding-right: rem(44);
    }
  }

  &__btn {
    font-size: rem(14);
    color: var(--color-light) !important;
    padding: rem(16) rem(22);
    background: var(--color-accent);
    border-radius: var(--radius-medium);
    transition: filter var(--transition-duration);
    font-family: var(--font-family-accent);

    @include hover() {
      filter: brightness(0.9);
    }
  }

  &__bottom {
    padding-block: rem(16) rem(8);

    &-text-block {
      margin-bottom: rem(24);
    }

    &-title {
      font-size: rem(14);
    }

    &-text {
      font-size: rem(16);
    }

    &-btn-bar {
      gap: rem(4);

      @include mobile-s {
        justify-content: space-between !important;
      }
    }

    &-link {
      @include flex-center();

      border-radius: var(--radius-medium);
      padding-block: rem(12);
      color: var(--color-light) !important;

      &.is-dark {
        padding-inline: rem(16);
        font-size: rem(13);
        background: var(--color-blue-dark);
      }

      &:not(.is-dark) {
        padding-inline: rem(11);
        background: var(--color-accent);
        font-size: rem(9);
      }

      @include mobile-s {
        flex-grow: 1;
      }
    }
  }

  &-menu {
    --top: 0;

    background: var(--color-light-alt);
    opacity: 0;
    top: calc(var(--top) + #{rem(24)});
    transition:
            opacity var(--transition-duration),
            transform var(--transition-duration);
    transform: translateY(-10px);
    padding-block: rem(16) rem(20);

    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }

    &__close {
      @include square(16);

      top: rem(-16);
      right: 0;
      padding: 0;
    }

    &__list {
      --row-gap: #{rem(24)};
      --column-gap: #{rem(20)};
    }

    &__head {
      padding: rem(8) rem(16);
      line-height: 1.57;
      transition: background var(--transition-duration);

      @include hover() {
        background: var(--color-blue);
      }
    }

    &__toggle {
      color: var(--color-blue-dark);
    }

    &__top {
      gap: rem(10);
      font-size: rem(14);
    }

    &__img-container {
      width: rem(34);
      height: rem(36);
      border-radius: var(--radius-regular);
    }

    &__link {
      padding-right: rem(28);
    }

    &__hidden {
      --padding-top: #{rem(8)};

      font-size: rem(12);
    }

    &__links {
      gap: rem(8);
      padding-left: rem(60);
    }
  }
}