@use '../helpers' as *;

.section {
  padding-block: fluid(72, 40);

  &-mb-72 {
    margin-bottom: fluid(72, 40);
  }
  &-mt-72 {
    margin-bottom: fluid(72, 40);
  }

  &-border-block {
    border-block: var(--border-alt);
  }

  &__title {
    text-align: center;
    margin-bottom: fluid(48, 16);
  }
}