@use '../helpers' as *;

.section {
  padding-block: fluid(72, 40);

  &-mb-72 {
    margin-bottom: fluid(72, 40);
  }
  &-mt-72 {
    margin-bottom: fluid(72, 40);
  }

  &-pb-72 {
    padding-bottom: fluid(72, 40);
  }

  &-border-block {
    border-block: var(--border-alt);
  }
  &-border-top {
    border-top: var(--border-alt);
  }
  &-border-bottom {
    border-bottom: var(--border-alt);
  }

  &__title {
    text-align: center;
    margin-bottom: fluid(48, 16);
  }
}