@use '../helpers' as *;

.slider {
  position: relative;
  aspect-ratio: 580/309;
  background: var(--color-gray-bg);

  &:not(:last-child) {
    margin-bottom: fluid(24, 17);
  }

  &__line {
    @include abs-x;

    top: 0;
    bottom: 0;
    left: var(--pos);
    width: rem(2);
    background-color: var(--color-light);
    z-index: 15;
    pointer-events: none;
  }

  &__label {
    position: absolute;
    top: 0;
    color: var(--color-light);
    z-index: 10;
    pointer-events: none;
    padding: rem(5) rem(15);
    min-width: rem(80);
    text-align: center;

    &--before {
      background: #6a7380;
    }
    &--after {
      background: #46afd4;
      right: 0;
    }
  }

  &.slider-with-line {

    .slider__toggle {
      width: rem(4);
      background: var(--color-light);
    }
  }

  &__slide {
    position: absolute;
    inset: 0;

    .slider__img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.before {
      z-index: 2;
      clip-path: polygon(0 0, var(--pos) 0, var(--pos) 100%, 0 100%);
    }

    &.after {
      z-index: 1;
      clip-path: polygon(var(--pos) 0, 100% 0, 100% 100%, var(--pos) 100%);
    }
  }

  &__input {
    inset: 0;
    opacity: 0;
    cursor: ew-resize;
    z-index: 20;
  }

  &__toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--pos);
    z-index: 15;
    pointer-events: none;
    background: #46afd4;

    img {
      @include square(14);

      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));

      &:first-child {
        rotate: 90deg;
      }
      &:last-child {
        rotate: -90deg;
      }
    }
  }

  &__button {
    @include abs-center;

    width: rem(60);
    height: rem(35);
    gap: rem(10);
    background: #46afd4;

    @include mobile {
      width: rem(45);
      height: rem(30);
      gap: rem(5);
    }
  }
}