@use '../helpers' as *;

.swiper-arrow {
  --left: #{rem(-66)};

  @include abs-y;
  @include square(42);
  @include flex-center();

  border-radius: var(--radius-regular);
  color: var(--color-blue-dark);

  @include laptop-s {
    --left: #{rem(-30)};

    @include square(24);
  }

  &.prev {
    left: var(--left);
    rotate: 180deg;
  }
  &.next {
    right: var(--left);
  }

  svg {
    height: 100%;
    width: 100%;
  }

  &.swiper-button-disabled {
    opacity: .6;
  }

  &.swiper-button-lock {
    display: none !important;
  }
}