@use '../helpers' as *;

.swiper-arrow {
  --left: #{rem(-64)};

  @include abs-y;
  @include square(40);
  @include flex-center();

  border: var(--border);
  border-radius: var(--radius-regular);
  color: var(--color-blue-dark-2);
  background: var(--color-light);

  @include laptop-s {
    --left: #{rem(-35)};

    @include square(32);
  }

  &.prev {
    left: var(--left);
  }
  &.next {
    right: var(--left);
    rotate: 180deg;
  }

  svg {
    @include square(16);

    @include laptop-s {
      @include square(11);
    }
  }

  &.swiper-button-disabled {
    opacity: .6;
  }
}