@use '../helpers' as *;

.video-play-btn {
  @include flex-center();
  @include abs-center;
  @include square(48);

  z-index: 2;
  border-radius: 50%;
  transition: opacity var(--transition-duration);

  @include mobile {
    @include square(24);
  }

  &.small {
    @include square(24);
  }

  circle {
    fill: var(--color-accent);
  }
  path {
    fill: var(--color-light);
  }

  &.is-playing {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}