
div.footer-bottom
    div.footer-bottom__inner.container

        div.footer-bottom__content
            p.footer-bottom__text Медицинские услуги имеют противопоказания. Необходима предварительная консультация врача.
            p.footer-bottom__text Скидки не суммируются со скидками, предоставляемыми в рамках проводимых и ограниченных во времени акций и действуют исключительно от официального прайс-листа.
            p.footer-bottom__text **Указанные на сайте цены не являются публичной офертой. Точную стоимость лечения возможно определить только на приеме у врача. Стоимость лечения у Главного врача ООО "Клиника доктора Лившиц" Лившиц Т.Л. может отличаться от цен, указанных на сайте.

            p.footer-bottom__about Общество с ограниченной ответственностью "Клиника доктора Лившиц" - ООО "КДЛ" 197342, г. Санкт-Петербург, ул. Торжковская, д. 13, корп. 1, лит. А, пом. 15-Н
            p.footer-bottom__about ИНН 7813429751, КПП 781401001, ОГРН 1089848031415
            p.footer-bottom__about Сводные данные по результатам проведения СОУТ в ООО «Клиника доктора Лившиц»

        p.footer__copyright.text-center
            | Copyright &copy;
            time 2007
            |  -
            time 2026